@page "/"

<PageTitle>Home</PageTitle>

<h1>Hola buenos dias, Usuario#</h1>

<div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <p class="card-text" style="text-align:justify;">
            Bienvenido a TaskFlow tu app para organizar tareas y trabajos aqui podras organizar y gestionar trabajos propios o en grupo donde podras visualizar fecha
            de realizado y finializado de los mismos
        </p>
    </div>
</div>

